*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(45deg,rgb(134, 204, 223),rgb(102, 185, 234));
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    background-color: wheat;
    background-image: linear-gradient(45deg,rgb(142, 133, 133),wheat);
    box-shadow: 0px 0px 10px 2px rgb(12, 6, 6);
}
.im{
    display: flex;
}
.im img{
    width: 100px;
    margin: 30px;
}
.p{
    font-size: 1.6rem;
    margin-top: 40px;
}

.choose img{
    width: 70px;
    height: 60px;
}
.choose{
    margin-top: 50px;
}
button{
    margin: 10px;
    /* border: none; */
    box-shadow: 0px 0px 10px ;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
button p{
    font-size: 1rem;
    margin-bottom: 2px;
}

button:hover{
    box-shadow: 0px 0px 10px white;
}
 .para1{
    position: absolute;
    top: 300px;
    font-size: 1.5rem;
    left: 650px;
    color: red;
 }
.para2{
    position: absolute;
    top: 300px;
    font-size: 1.5rem;
    left: 850px;
    color: green;
}
a{
    text-decoration: none;
}

@media (max-width: 366px){
    .container{
        width: 365px;
        height: 847px;
        /* justify-content: baseline; */
        /* align-items: baseline; */
    }

    .box{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 600px;
        margin-top: 10px;
    }
    .im{
        /* display: none; */
    }
    .im img{
        width: 80px;
        margin: 15px;
        margin-bottom: 60px;
        padding: 0;
    }
    .p{
        /* display: none; */
        font-size: 1.3rem;
        margin: 0;
    }

    .choose img{
        width: 70px;
        /* height: 60px; */
    }
    .choose{
        margin: 0;
        margin-top: 50px;
    }
    .para1{
    /* display: none; */
    left: 86px;
    font-size: 1.3rem;
    top: 330px;
    }
    .para2{
    /* display: none; */
    left: 220px;
    top: 330px;
    }
    button{
        /* display: none; */

    }
    a{
        /* display: none; */
        font-size: 1rem;
    }
}